DATABASE_URL="postgresql://neondb_owner:npg_S8BR0uvsJmOD@ep-nameless-grass-aqlrmkhl-pooler.c-8.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require"
SOLVEN_USER="admin"
SOLVEN_PASSWORD="solven2024"
SOLVEN_SESSION_SECRET="generate-a-random-32-char-string-here"
